*{margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

.centrar {text-align: center;}

.textoMediano {font-size: 2rem;}
 
.decimal {list-style:inside decimal; 
    padding-left: 1em;}



.contenedorFlex {
    display:flex;
    justify-content: center;
}


nav ul {
    list-style: none;
    font-size:0; /* truco por el uso de inline-block*/
    
}

nav li {
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 0.9rem
 }

nav ul li{
    
    width: 5rem;    
}



.header__leyenda {
    background-color: black;
    color: white;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    text-align: center;
}

.espacio{
    width: 9rem;
}

.header__navBar {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.logo{    
height: 2.5rem;
margin-top: 0.625rem;
margin-left: 0.625rem;
}

.comoComprar{
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    font-weight: bold;
    color: #474b4e;
}

.quienesSomos{
    margin-bottom: 1.875rem;
}

.quienesSomosTexto{
    margin-top: 1.875rem;
}

.contacto{
    margin-bottom: 1.875rem;
}

.comentarios{
    margin-top: 1.25rem;
    margin-right: 4rem;
    margin-left: 3.5rem;
    
   
}

.enviar{
    margin-top: 1.25rem;
    margin-left: 2rem;
}

section ul li{
    margin-top: 1.25rem;
}

.main__whatsapp--fixed{
    position:fixed;
    bottom: 1rem;
    right: 1rem;
}

.main__whatsapp--fixed img {
    height: 5rem;
}

nav a {
    text-decoration: none;    
    display: inline-block;
    padding: 1rem;
 }

nav a:visited{
    color:black;

}

.banner{
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
 }

.productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    margin-left: 5rem;    
}

.productos img{
width: 100%;
object-fit: cover;
}



.subCategoria p{
    margin-top: 1.875rem;
}



.alineaContenido
{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-left: 1rem;

}

footer{
    background-color: #f4f4f4;
    margin-top: 2rem;
   
   
}



footer div{
    display: flex;
     flex-direction: column;
     gap: 1rem;
}

.contenidoQs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.contenidoQs p{
    padding-top: 30rem;
}

h2{
    margin-bottom: 2rem;
}

.ayuda__pregfrec{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    text-decoration: underline;
}
.grid{
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;
}


.grid section{
    margin-top: 1rem;
}


.producto--agrandar:hover{
    transform: scale(1.05);
    transition: 1s;
}

.producto--agrandar img{
    max-width: 550px;
}

.transformar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}

.section-home{
    margin-top: 2rem;
    display: flex;
    justify-content: center;  
}

.margin-abajo{
    margin-bottom: 2rem;
}

.carousel{
    max-width: 1400px;
    margin: auto;
}

.categorias{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    max-width: 1400px;
    margin: auto;
    margin-top: 3rem;
}

.margin-a{
    margin-bottom: 8rem;
}

.item1{
    margin-bottom: 1rem;
}

.faq__pregunta{
    color: #474b4e;
    font-weight: bold;
}

.section-tienda{
    margin: auto;
    display: flex;
    justify-content: center; 
    max-width: 1400px;
}

.texto__productos{
    font-weight: bold;
}

.ayuda__comocomprar{
    text-decoration: underline;
}

.contacto__datos{
    text-decoration: underline;
    text-align: center;
}

.ayuda__formulario{
    align-content: center;
}

.contacto__main{
    max-width: 1400px;
}

.div__quienesSomos{
    text-align: center;
    max-width: 1400px;
}



strong{
    color: #474b4e;
}

.login{
    text-align: right;
    margin-right: 1rem;
    font-weight: bold;
    
}

.prueba{
    margin: 0%;
    padding: 0%;
}

